
/* ==========================================================================
    LINKS
   ========================================================================== */

a {
  @include transition(all .3s ease);
  color: $color-link;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    color: $color-link-hover;
      text-decoration: underline;;
  }
}
