
/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

/* Awesome ampersands */
.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

.caps {
  @extend %abbr;
}

.italic {
  font-style: italic;
}

/* Typically used in the first paragraph of an article, for added awesome. */
.lede,
%lede {
  @include font-size($scale-up1, null, inherit);
}

.small {
  @extend %small;
}

.letter-space {
//  letter-spacing: .125em;
}
