
/* ==========================================================================
    FONT SIZING
   ========================================================================== */

.fs-5vw {
  font-size: 5vw;
}

.fs-6vw {
  font-size: 6vw;
}

.fs-7vw {
  font-size: 7vw;
}

.fs-8vw {
  font-size: 8vw;
}

.fs-9vw {
  font-size: 9vw;
}

.fs-10vw {
  font-size: 10vw;
}

.fs-12vw {
  font-size: 12vw;
}

.fs-14vw {
  font-size: 14vw;
}

.fs-15vw {
  font-size: 16vw;
}

.fs-17vw {
  font-size: 17vw;
}

.fs-18vw {
  font-size: 18vw;
}
