/* =============================================================================
    PADDING TRUMPS
============================================================================= */
.p {
  padding: spacer();

  &-t {
    padding-top: spacer();
  }

  &-b {
    padding-bottom: spacer();
  }
}
